body {
  font-family: 'Georgia', serif;
  background-color: yellow; /* temporal */
  color: black;
  margin: 0;
  padding: 0;
}

header {
  background: #e67e22;
  color: white;
  padding: 1em 0;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 80%;
  margin: 2em auto;
  background: white;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  background: #eee;
  margin-top: 2em;
}